

@{
    ViewBag.Title = "Cabinet";
}

<h2>@ViewBag.User.UserName</h2>
@*<h2>@ViewBag.User.CreationDate</h2>*@
@Html.ActionLink("My lots", "MyLots", "Lot")

@if (User.IsInRole("Admin"))
{
<div id="users" >
    @Html.Partial("_UsersList")
</div>
}

