



<form id="auth" action="/Account/Login" method="post" novalidate="novalidate">
   
    <div class="form-horizontal" style="margin-left:30px">
        <h4>Log on</h4>
        <hr>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail3">Name</label>
            <div class="col-md-10">
                <input name="UserName" class="form-control text-box single-line" id="UserName" type="text" value="" data-val="true" data-val-required="The field can not be empty!">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputEmail3">Password</label>
            <div class="col-md-10">
                <input name="Password" class="form-control text-box single-line password" id="Password" type="password" value="" data-val="true" data-val-required="The field can not be empty!">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        Remember me
                    </label>
                    <input name="RememberMe" class="check-box" id="RememberMe" type="checkbox" value="true" data-val="true" data-val-required="Требуется поле Remember password?."><input name="RememberMe" type="hidden" value="false">

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-success" id="loginButton" type="submit" value="Login">
            </div>
        </div>
    </div>
</form>


