@section HeadSection {
}
@section BodyInits {
}
@section BodyScripts {
	<script src="~/Content/dotdotdot/_plug.min.js"></script>
}


<style>
	.fix {
		padding: .3em;
		height: 6em;
		border: solid 1px #00f;
	}
</style>


<div class="ddd fix">
	Neque porro quisquam est aspernatur aut odit aut fugit aspernatur aut odit aut fugit, aspernatur aut odit aut fugit, accusantium doloremque laudantium.
	Neque porro quisquam est. Explicabo, excepteur sint occaecat cupidatat non proident explicabo, unde omnis iste natus error sit voluptatem.
	Sed quia consequuntur magni dolores eos, accusantium doloremque laudantium, lorem ipsum dolor sit amet, excepteur sint occaecat cupidatat non proident.
	Qui ratione voluptatem sequi nesciunt ut enim ad minim veniam, quia voluptas sit, sed do eiusmod tempor incididunt, explicabo ut labore et dolore magna aliqua.
	Quis nostrud exercitation ullamco laboris nisi, neque porro quisquam est, ut enim ad minim veniam.
	In voluptate velit esse cillum dolore, qui ratione voluptatem sequi nesciunt sed quia consequuntur magni dolores eos nemo enim ipsam voluptatem.
	Sed quia consequuntur magni dolores eos explicabo.
	Eu fugiat nulla pariatur, nemo enim ipsam voluptatem accusantium doloremque laudantium quae ab illo inventore veritatis.
	Totam rem aperiam eaque ipsa, sed ut perspiciatis, nemo enim ipsam voluptatem, excepteur sint occaecat cupidatat non proident.
	Duis aute irure dolor in reprehenderit excepteur sint occaecat cupidatat non proident explicabo, nemo enim ipsam voluptatem, totam rem aperiam eaque ipsa.
	<em>/END</em>
</div>
<p>&nbsp;</p>


<div class="ddd fix">
	Neque porro quisquam est aspernatur aut odit aut fugit aspernatur aut odit aut fugit, aspernatur aut odit aut fugit, accusantium doloremque laudantium.
</div>
<p>&nbsp;</p>


<div class="ddd fix">
	Neque porro quisquam est aspernatur aut odit aut fugit aspernatur aut odit aut fugit, aspernatur aut odit aut fugit, accusantium doloremque laudantium.
	Neque porro quisquam est. Explicabo, excepteur sint occaecat cupidatat non proident explicabo, unde omnis iste natus error sit voluptatem.
	Sed quia consequuntur magni dolores eos, accusantium doloremque laudantium, lorem ipsum dolor sit amet, excepteur sint occaecat cupidatat non proident.
	Qui ratione voluptatem sequi nesciunt ut enim ad minim veniam, quia voluptas sit, sed do eiusmod tempor incididunt, explicabo ut labore et dolore magna aliqua.
	Quis nostrud exercitation ullamco laboris nisi, neque porro quisquam est, ut enim ad minim veniam.
	In voluptate velit esse cillum dolore, qui ratione voluptatem sequi nesciunt sed quia consequuntur magni dolores eos nemo enim ipsam voluptatem.
	Sed quia consequuntur magni dolores eos explicabo.
	Eu fugiat nulla pariatur, nemo enim ipsam voluptatem accusantium doloremque laudantium quae ab illo inventore veritatis.
	Totam rem aperiam eaque ipsa, sed ut perspiciatis, nemo enim ipsam voluptatem, excepteur sint occaecat cupidatat non proident.
	Duis aute irure dolor in reprehenderit excepteur sint occaecat cupidatat non proident explicabo, nemo enim ipsam voluptatem, totam rem aperiam eaque ipsa.
</div>
<p>&nbsp;</p>
